<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/bootstrap/css/bootswatch.css" />
<!-- 
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
 -->
 <link rel="stylesheet" href="${rc.contextPath}/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/jqgrid/css/ui.jqgrid.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/jqgrid/css/theme/smoothness/jquery-ui.theme.min.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/jqgrid/css/theme/redmond/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="${rc.contextPath}/assets/css/global.css?v=${.now?string('yyyyMMddhhmmssSSS')}">

<!-- document.documentElement.focus();不能删，不能改位置， 用于解决IE9， 未指明的错误  -->
<script>document.documentElement.focus();</script>
<script src="${rc.contextPath}/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/layer/layer.js"></script>
<script src="${rc.contextPath}/assets/plugins/vue/vue.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/jquery-validate/messages_zh.js"></script>
<script src="${rc.contextPath}/assets/plugins/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script src="${rc.contextPath}/assets/plugins/jqgrid/js/jquery.jqGrid.src.js"></script>
<script src="${rc.contextPath}/assets/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script src="${rc.contextPath}/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
<!-- 
<script src="${rc.contextPath}/assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="${rc.contextPath}/assets/plugins/echarts/echarts.min.js"></script>
<script src="${rc.contextPath}/assets/plugins/echarts/theme/dark.js"></script>
-->

<script src="${rc.contextPath}/assets/js/global.js?v=${.now?string('yyyyMMddhhmmssSSS')}"></script>
<script type="text/javascript">
var ctx = '${rc.contextPath}/';
</script>