<div id="vms-app" class="panel panel-primary" style="width: 550px;">
	<div class="panel-heading">
		<h3 class="panel-title">
			诱导屏管理
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" onclick="TUtils.togglePanelBody()"><i id="LEFT_PANEL_UD" class="fa fa-chevron-up"></i></button> 
				<button type="button" class="btn btn-default btn-xs" @click="close"><i class="fa fa-close"></i></button>
			</div>
		</h3>
	</div>
	<div class="panel-body">
		<ul id="myTab" class="nav nav-tabs">
			<li id="liQuery" class="active"><a href="#vmsQuery"
				data-toggle="tab">设备信息</a></li>
			<li id="liDetail"><a href="#vmsDetail" data-toggle="tab"  v-show="isZdAdmin">信息维护</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="vmsQuery">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-2 control-label">名称</div>
						<div class="column col-sm-4">
							<input type="text" class="form-control"v-model="vmsQ.vmsName" placeholder="诱导屏名称"
								required="required">
						</div>

						<div class="col-sm-6">
							<a class="btn btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
							<a class="btn btn-sm" @click="edit"  v-show="isZdAdmin"><i
								class="fa fa-pencil-square-o"></i>&nbsp;修改</a> <a class="btn btn-sm"
								@click="purge"  v-show="isZdAdmin"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
						</div>
					</div>
				</div>
				<table id="jqGrid"></table>
				<div id="jqGridPager"></div>
			</div>
			<div class="tab-pane fade" id="vmsDetail">
				<form class="form-horizontal" id="detailForm" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">编号</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="vmsId" name="vmsId"
								v-model="vms.vmsId" placeholder="诱导屏编号" required="required" maxlength="20">
								
						</div>
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="vmsName"
								name="vmsName" v-model="vms.vmsName" placeholder="诱导屏名称"
								required="required" maxlength="20">
								
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">IP地址</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="ip" name="ip"
								v-model="vms.ip" placeholder="IP地址"  maxlength="50">
						</div>
						<label class="col-sm-2 control-label">点位信息</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="shape" name="shape"
								v-model="vms.shape" placeholder="点位信息" required="required" maxlength="30">
								
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">位置描述</label>
						<div class="col-sm-4 onelinedis">
						<span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="location"
								name="location" v-model="vms.location" placeholder="位置描述"
								required="required" maxlength="50">
								
						</div>
						<label class="col-sm-2 control-label">朝向</label>
						<div class="col-sm-4 onelinedis">
						<span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="orientation"
								name="orientation" v-model="vms.orientation" placeholder="朝向"
								required="required" maxlength="20">
								
						</div>

					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">厂商</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="manuId" name="manuId"
								v-model="vms.manuId" placeholder="智能卡厂商" maxlength="50">
						</div>
						<label class="col-sm-2 control-label">状态</label>
						<div class="col-sm-4 onelinedis">
					    	<span class="help-inline"><font color="red">*</font> </span>
							<select name="status" class="form-control oneline" v-model="vms.status"
								required="required">
								<option value="">请选择</option>
								<option value="1">正常使用</option>
								<option value="2">拆除</option>
								<option value="3">维护中</option>
								<option value="8">其他</option>
							</select>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">宽度</label>
						<div class="col-sm-4 onelinedis">
						   <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="width" name="width"
								v-model="vms.width" placeholder="宽度" required="required" maxlength="3">
						</div>
						<label class="col-sm-2 control-label">高度</label>
						<div class="col-sm-4 onelinedis">
						<span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="height" name="height"
								v-model="vms.height" placeholder="高度" required="required"maxlength="3">
														
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="sButton" type="submit" class="btn btn-sm btn-primary"
								@click="save"  v-show="isZdAdmin">提交</button>
							<input id="editB" type="button"
								class="btn btn-warning btn-sm pull-right" @click="reload"
								value="返回" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>