<div id="hikFlow-panel" class="panel panel-primary" style="width: 550px;">
	<div class="panel-heading">
		<h3 class="panel-title">海康流量统计
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" onclick="TUtils.togglePanelBody()"><i id="LEFT_PANEL_UD" class="fa fa-chevron-up"></i></button> 
				<button type="button" class="btn btn-default btn-xs" @click="close"><i class="fa fa-close"></i></button>
			</div>
		</h3>
	</div>
	<div class="panel-body">
		<div id="queryDiv" v-show='showList'>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">设备</div>
					<div class="column col-sm-8">
                        <select class="form-control" id="sbipQ" v-model="hikFlowQ.sbip" htmlEscape="false" >
                            <option value="">所有</option>
                            <option v-for="hikFlowCam in hikFlowCamList" v-bind:value="hikFlowCam.ip">
                                {{hikFlowCam.dwmc + (hikFlowCam.ip)}}
                            </option>
                        </select>
					</div>
				</div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">开始时间</div>
                    <div class="column col-sm-4">
                        <input type="text" class="form-control form_datetime Wdate" id="startDtQ" v-model="hikFlowQ.startDt" 
                            @click="init97DateStart" 
                            placeholder="开始时间" readonly="readonly" required="required">
                    </div>
                    <div class="col-sm-2 control-label">结束时间</div>
                    <div class="column col-sm-4">
                        <input type="text" class="form-control form_datetime Wdate" id="endDtQ" v-model="hikFlowQ.endDt" 
                            @click="init97DateEnd" 
                            placeholder="结束时间" readonly="readonly" required="required">
                    </div>
                </div>
			</div>
			<div class="grid-btn" style="margin-bottom: 10px">
				<a class="btn btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
		<div id="detailDiv" v-show='!showList'>
		</div>
	</div>
</div>