<div id="facilitiesSta-panel" class="panel panel-primary" style="width: 600px;">
	<div class="panel-heading">
		<h3 class="panel-title">维护时效统计
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" onclick="TUtils.togglePanelBody()"><i id="LEFT_PANEL_UD" class="fa fa-chevron-up"></i></button> 
				<button type="button" class="btn btn-default btn-xs" @click="close"><i class="fa fa-close"></i></button>
			</div>
		</h3>
	</div>
	<div class="panel-body">
	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-2 control-label">开始时间</div>
			<div class="column col-sm-4">
				<input type="text" class="form-control form_datetime Wdate" id="startDt"
					onfocus="WdatePicker({isShowClear:false,lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:$('#endDt').val()})" 
					name="startDt" readonly="readonly">
			</div>
			<div class="col-sm-2 control-label">结束时间</div>
			<div class="column col-sm-4">
				<input type="text" class="form-control form_datetime Wdate" id="endDt"
					onfocus="WdatePicker({isShowClear:false,lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:$('#startDt').val()})" 
					name="endDt" readonly="readonly">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">维修单位</div>
			<div class="column col-sm-4">
				<select id="repairUnitId" name="repairUnitId" class="form-control">
					<option value="">所有</option>
					<option v-for="dict in unitNames" v-bind:value="dict.id">
								{{dict.unitName}}</option>
				</select>
			</div>
			<div class="col-sm-2 control-label">发单部门</div>
			<div class="column col-sm-4">
				<select v-if="currentUser.jjddUser" class="form-control" id="groupIdQ" v-model="facilitiesRepairQ.createBy">
                         <option value="">所有</option>
                         <option value="jkzx">交控中心</option>
                         <option v-for="group in groupList" v-bind:value="group.groupId" data-icon="fa fa-sitemap">
                             {{group.groupName}}
                         </option>
                     </select>
                     <template v-if="currentUser.jjzdUser">
                         <span>{{currentUser.group.groupName}}</span>
                         <input type="hidden" id="groupIdQ" v-model="facilitiesRepairQ.createBy"/>
                     </template>
			</div>
		</div>
		<div class="grid-btn" style="margin-bottom: 10px">
			<a class="btn btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
		</div>
	</div>
	 <div class="tablescrollbar">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="15%">单位名称</th>
						<th width="12%">维护数量</th>
						<th width="12%">平均接单时间</th>
						<th width="12%">平均到场时间</th>
						<th width="12%">平均完成时间</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in facilitiesDates">
						<td style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;max-width: 110px;">
						<a href="#" style="text-decoration:none;color:#000000;" :title='item.repairUnit'>{{item.repairUnit}}</a></td>
						<td>{{item.content}}</td>
						<td>{{Math.floor(item.receive/(60*24))}}天{{Math.floor(item.receive/60)-Math.floor(item.receive/(60*24))*24}}时{{Math.floor(item.receive%60)}}分</td>
						<td>{{Math.floor(item.arrive/(60*24))}}天{{Math.floor(item.arrive/60)-Math.floor(item.arrive/(60*24))*24}}时{{Math.floor(item.arrive%60)}}分</td>
						<td>{{Math.floor(item.finish/(60*24))}}天{{Math.floor(item.finish/60)-Math.floor(item.finish/(60*24))*24}}时{{Math.floor(item.finish%60)}}分</td>
						<!-- <td>{{item.receive}}分</td>
						<td>{{item.arrive}}分</td>
						<td>{{item.finish}}分</td> -->
					</tr>
					<tr v-show="isShows">
						<td></td>
						<td></td>
						<td rowspan="3" >无数据</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>