<div id="facilitiesRepair-panel" class="panel panel-primary" style="width: 550px;">
	<div class="panel-heading">
		<h3 class="panel-title">设备(施)维修查询
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" onclick="TUtils.togglePanelBody()"><i id="LEFT_PANEL_UD" class="fa fa-chevron-up"></i></button> 
				<button type="button" class="btn btn-default btn-xs" @click="close"><i class="fa fa-close"></i></button>
			</div>
		</h3>
	</div>
	<div class="panel-body">
		<ul id="myTab" class="nav nav-tabs">
			<li id="liQuery" ><a id="aQuery" href="#facilitiesRepairQuery" data-toggle="tab">查询</a></li>
			<li id="liDetail" class="active"><a id="addQuery" href="#facilitiesRepairDetail" data-toggle="tab" v-show="isZdAdmin">登记</a></li>
			<li id="liEdit" style="display:none" ><a href="#constOccupDetail" data-toggle="tab" v-show="isZdAdmin">修改</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade" id="facilitiesRepairQuery" >
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-2 control-label">开始时间</div>
						<div class="column col-sm-4">
							<input type="text" class="form-control form_datetime Wdate" id="startTime"
							onfocus="WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:$('#endTime').val()})" 
							name="startTime" readonly="readonly">
						</div>
						<div class="col-sm-2 control-label">结束时间</div>
						<div class="column col-sm-4">
							<input type="text" class="form-control form_datetime Wdate" id="endTime" 
							onfocus="WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:$('#startTime').val()})"
							name="endTime" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">状态</div>
						<div class="column col-sm-4">
							<select id="results" name="results" class="form-control"
								v-model="facilitiesRepairQ.results" >
								<option value="">所有</option>
								<option value="1">待维护</option>
								<option value="2">维护中</option>
								<option value="3">已维护</option>
								<option value="4">无需维护</option>
							</select>
						</div>
						<div class="col-sm-2 control-label">设备类型</div>
						<div class="column col-sm-4">
							<select id="typeId" name="typeId" class="form-control" 
								v-model="facilitiesRepairQ.typeId" >
								<option value="">所有</option>
								<option value="1">信号机</option>
								<option value="2">监控设备</option>
								<option value="3">诱导屏</option>
								<option value="4">交通标志</option>
								<option value="6">卡口电警</option>
								<option value="5">其他</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">维修单位</div>
						<div class="column col-sm-4">
							<select id="repairUnitIdQ" name="repairUnitIdQ" class="form-control" 
								v-model="facilitiesRepairQ.repairUnitId"  required="required">
								<option value="">所有</option>
								<option v-for="dict in unitNamesQ" v-bind:value="dict.id">
								{{dict.unitName}}</option>
							</select>
						</div>
						<div class="col-sm-2 control-label">维修者</div>
						<div class="column col-sm-4">
						<select id="wxIdQ" name="wxIdQ" class="form-control"
							v-model="facilitiesRepairQ.wxId" required="required">
							<option value="">所有</option>
							<option v-for="dict in repairUnitsQ" v-bind:value="dict.wxId">
								{{dict.name}}</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">关键字</div>
						<div class="column col-sm-4">
							<input type="text" class="form-control" id="keyword" name="keyword" maxlength="100"
							 v-model="facilitiesRepairQ.keyword" placeholder="请输入关键字"  required="required">
						</div>
						<div class="col-sm-2 control-label">发单部门</div>
						<div class="column col-sm-4">
							<select v-if="currentUser.jjddUser" class="form-control" id="groupIdQ" v-model="facilitiesRepairQ.createBy">
                            <option value="">所有</option>
                            <option value="jkzx">交控中心</option>
                            <option v-for="group in groupList" v-bind:value="group.groupId" data-icon="fa fa-sitemap">
                                {{group.groupName}}
                            </option>
                        </select>
                        <template v-if="currentUser.jjzdUser">
                            <span>{{currentUser.group.groupName}}</span>
                            <input type="hidden" id="groupIdQ" v-model="facilitiesRepairQ.createBy"/>
                        </template>
						</div>
					</div>
					<div class="form-group">
						<div class="column col-sm-6">
							<label><input type="radio" v-model="facilitiesRepairQ.timeType" value="1">创建时间</label> 
							<label><input type="radio" v-model="facilitiesRepairQ.timeType" value="2">完成时间</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<a class="btn btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
							<a class="btn btn-sm" @click="edit" v-show="isZdAdmin"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
							<a class="btn btn-sm" @click="purge" v-show="isZdAdmin"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
							<a class="btn btn-sm" @click="editState" v-show="isXtgl"><i class="fa fa-pencil-square-o"></i>&nbsp;更改</a>
							<a class="btn btn-sm" @click="exportExcel"><i class="fa fa-file"></i>&nbsp;导出</a>
                			<a class="btn btn-sm" @click="downloadExcel" v-if="fileName !=''"><i class="fa fa-download"></i>&nbsp;下载</a> 
						</div>
					</div>
				</div>
			    <table id="jqGrid"></table>
			    <div id="jqGridPager"></div>
			</div>
			<div class="tab-pane fade in active" id="facilitiesRepairDetail">
				<form class="form-horizontal" id="detailForm" role="form">
					<div class="form-group">
						<label  class="col-sm-2 control-label">设备编号</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="facilitiesId" name="facilitiesId" maxlength="20"
							v-model="facilitiesRepair.facilitiesId"  placeholder="设备编号" >
						</div>
						<label class="col-sm-2 control-label">设备类型</label>
						<div class="col-sm-4 onelinedis">
						   <span class="help-inline"><font color="red">*</font> </span>
							<select id="type" name="type" class="form-control oneline" 
								v-model="facilitiesRepair.type" required="required">
								<option value="">请选择</option>
								<option value="1">信号机</option>
								<option value="2">监控设备</option>
								<option value="3">诱导屏</option>
								<option value="4">交通标志</option>
								<option value="6">卡口电警</option>
								<option value="5">其他</option>
							</select>
							
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">标题</label>
						<div class="column col-sm-9 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="title" name="title" maxlength="50"
							 v-model="facilitiesRepair.title" placeholder="标题"  required="required">
							 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">问题描述</label>
						<div class="column col-sm-9 onelinedis">
							<span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="content" name="content" maxlength="200" style="width:420px"
							v-model="facilitiesRepair.content" placeholder="问题描述" required="required">
							
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">位置描述</label>
						<div class="column col-sm-9 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
						    <input type="text" class="form-control oneline" id="position" name="position" maxlength="200" style="width:420px"
							v-model="facilitiesRepair.position" placeholder="位置描述" required="required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">开始日期</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control oneline" id="startDt" 
							name="startDt" placeholder="开始日期" required="required" readonly="readonly">
							
						</div>
						<label class="col-sm-2 control-label">结束日期</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<input type="text" class="form-control form_datetime Wdate oneline" id="endDt" 
							onfocus="WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:$('#startDt').val()})"
							name="endDt"  placeholder="结束日期" required="required" readonly="readonly">
							
						</div>
					</div>
					<div class="form-group">
						<label v-show="facilitiesRepair.receiveDt"  class="col-sm-2 control-label">接单时间</label>
						<div class="col-sm-4" v-show="facilitiesRepair.receiveDt" >
							<input type="text" class="form-control form_datetime" id="receiveDt" 
							name="receiveDt" readonly="readonly" v-model="facilitiesRepair.receiveDt">
						</div>
						<label v-show="facilitiesRepair.arriveDt"  class="col-sm-2 control-label">到场时间</label>
						<div class="col-sm-4" v-show="facilitiesRepair.arriveDt" >
							<input type="text" class="form-control form_datetime" id="arriveDt" 
							name="arriveDt" readonly="readonly" v-model="facilitiesRepair.arriveDt">
						</div>
					</div>
					<div class="form-group">
						<label v-show="facilitiesRepair.finishDt"  class="col-sm-2 control-label">完成时间</label>
						<div class="col-sm-4" v-show="facilitiesRepair.finishDt">
							<input type="text"  class="form-control form_datetime" id="finishDt" 
							name="finishDt"  readonly="readonly" v-model="facilitiesRepair.finishDt">
						</div>
						<label class="col-sm-2 control-label">优先级</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<select id="priority" name="priority" class="form-control oneline" 
							v-model="facilitiesRepair.priority"  required="required">
								<option value="">请选择</option>
								<option value="1">高</option>
								<option value="2">中</option>
								<option value="3">低</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">维修单位</label>
						<div class="col-sm-4 onelinedis">
						    <span class="help-inline"><font color="red">*</font> </span>
							<select id="repairUnitId" name="repairUnitId" class="form-control oneline" 
								v-model="facilitiesRepair.repairUnitId"  required="required">
								<option value="">请选择</option>
								<option v-for="dict in unitNames" v-bind:value="dict.id">
								{{dict.unitName}}</option>
							</select>
						</div>
						<label class="col-sm-2 control-label">维修者</label>
						<div class="col-sm-4 onelinedis">
						<span class="help-inline"><font color="red">*</font> </span>
						<select id="wxId" name="wxId" class="form-control oneline"
							v-model="facilitiesRepair.wxId" required="required">
							<option value="">请选择</option>
							<option v-for="dict in repairUnits" v-bind:value="dict.wxId">
								{{dict.name}}</option>
						</select>
						</div>
					</div>
					<div id="imgDiv" class="form-group"   style="display: none;">
						<label class="col-sm-2 control-label">图片上传(最多三张)</label>
						<div id='image-list'style="margin-left: 5px; float:left;">
						
						 <!-- <input type="button" @click="uploadImage();"value="提交"/> -->
						 </div>
						 <img id="shizi" src="./assets/images/shizitu.png" @click="openFileUpload"
								style="margin-left: 25px; width: 88px; height: 88px;cursor:pointer;"/>
						 <input id="fileupload" type="file" name="multiFiles"  class="hide"/>
					</div>
					<div id="divDesc" class="form-group" style="display: none;">
						<label class="col-sm-2 control-label">维修备注</label>
							<div class="col-sm-4">
								<textarea id="resultDesc" name="resultDesc" placeholder="维修备注"
								v-model="facilitiesRepair.resultDesc" style="width: 300px;"
								class="layui-textarea" maxlength="200" readonly="readonly" ></textarea>
								<!-- <span class="help-inline"><font color="red">*</font> </span> -->
							</div>
					</div>
					<div id="ptDiv" class="form-group" style="display: none;">
						<label class="col-sm-2 control-label">报修图片</label>
						<div id='oldImage'>
							<template v-for="repairs in ptPaths"> <img
								style="margin-left: 25px; width: 88px; height: 88px"
								:src="repairs" @click="imgOnclick(repairs)"> </template>
						</div>
					</div>	
					<div id="oldDiv" class="form-group" style="display: none;">
						<label class="col-sm-2 control-label">维护前</label>
						<div id='oldImage'>
							<template v-for="repairs in oFilePaths"> <img
								style="margin-left: 25px; width: 88px; height: 88px"
								:src="repairs" @click="imgOnclick(repairs)"> </template>
						</div>
					</div>
					<div id="newDiv" class="form-group" style="display: none;">
						<label class="col-sm-2 control-label">维护后</label>
						<div id='newImage'>
							<template v-for="repairs in nFilePaths"> <img
								style="margin-left: 25px; width: 88px; height: 88px"
								:src="repairs" @click="imgOnclick(repairs)"> </template>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="sButton" type="submit" v-if="isZdAdmin" class="btn btn-sm btn-primary" @click="save" v-show="isZdAdmin">提交</button>
							<input id="yyButton" type="button"  v-if="isZdAdmin" class="btn btn-sm btn-primary" style="display:none"  @click="quote" value="引用工单"/>
							<input id="editB" type="button" class="btn btn-warning btn-sm" style="display:none"  @click="reload" value="返回"/>
							<span id="tsyy" class="help-inline" style="display:none"><font color="red">*重新编辑维修单位、人员等信息，并生成新工单</font></span>
						</div>
					</div>
					<!-- 点击图片放大 -->
					<div id="outerdiv"
						style="position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); z-index: 2; width: 100%; height: 100%; display: none;">
						<div id="innerdiv" style="position: absolute;">
							<img id="bigimg" style="border: 5px solid #fff;" src="" />
						</div>
					</div>
				</form>
			</div>
			
			<!-- 修改状态DIV start -->
		<div id="postAlarmTaskDiv" v-show='false'>
			<form class="form-horizontal" role="form">
				<div class="form-group" style="margin-left: 0px; margin-right: 0px;margin-top:5px;">
				   	<div class="col-sm-3 control-label">维修状态</div>
				   	<div class="col-sm-6">
						<select id="stateRepairResults" name="results" class="form-control">
								<option value="">请选择</option>
								<option value="3">已维护</option>
								<option value="4">无需维护</option>
						</select>
				    </div>
				</div>
				<div class="form-group" style="margin-left: 0px; margin-right: 0px;margin-top:5px;">
					<div class="col-sm-3 control-label">维修备注</div>
					<div class="col-sm-6">
					<textarea id="stateRepairDescText" class="form-control" rows="2" 
					htmlEscape="false" required="required"></textarea>
					</div>
				</div>
				<div class="form-group" style="margin-left: -150px; margin-right: 150px;">
				   	<div class="col-sm-1 col-sm-offset-9">
						<input type="button" class="btn btn-primary btn-sm" v-if="isZdAdmin" @click="saveState" value="确定"/>
					</div>
				</div>
			</form>
		</div>
		<!-- 修改状态DIV end -->
			
		</div>
	</div>
</div>