<div id="xhd-panel" class="panel panel-primary" style="width: 550px;">
	<div class="panel-heading">
		<h3 class="panel-title">信号灯
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" onclick="TUtils.togglePanelBody()"><i id="LEFT_PANEL_UD" class="fa fa-chevron-up"></i></button> 
				<button type="button" class="btn btn-default btn-xs" @click="close"><i class="fa fa-close"></i></button>
			</div>
		</h3>
	</div>
	<div class="panel-body">
		<div id="queryDiv" v-show='showList'>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">编号</div>
					<div class="column col-sm-4">
						<input type="text" class="form-control" v-model="xhdQ.bh" placeholder="编号" htmlEscape="false" />
					</div>
					<div class="col-sm-2 control-label">名称</div>
					<div class="column col-sm-4">
						<input type="text" class="form-control" v-model="xhdQ.mc" placeholder="名称" htmlEscape="false" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">路口</div>
					<div class="column col-sm-4">
						<select class="form-control selectpickerLk" id="crossIdQ" v-model="xhdQ.crossId">
							<option v-for="cross in crossList" v-bind:value="cross.bh" data-icon="fa fa-crosshairs">
								{{cross.mc}}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="grid-btn" style="margin-bottom: 10px">
				<a class="btn btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
				<a class="btn btn-sm" @click="reset"><i class="fa fa-eraser"></i>&nbsp;重置</a>
				<a class="btn btn-sm" @click="edit"  v-show="isZdAdmin"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				<a class="btn btn-sm" @click="purge"  v-show="isZdAdmin"><i class="fa fa-times"></i>&nbsp;删除</a>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
		<div id="detailDiv" v-show='!showList'>
			<form class="form-horizontal" id="detailForm" role="form">
				<div class="form-group">
					<label for="bh" class="col-sm-2 control-label">编号</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="bh" name="bh" v-model="xhd.bh" placeholder="编号" 
							htmlEscape="false" maxlength="30"/>
					</div>
					<label for="mc" class="col-sm-2 control-label">名称</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="mc" name="mc" v-model="xhd.mc" placeholder="名称" 
							htmlEscape="false" maxlength="30"/>
					</div>
				</div>
				<div class="form-group">
					<label for="crossId" class="col-sm-2 control-label">路口号</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="crossId" name="crossId" v-model="xhd.crossId" placeholder="路口号" 
							htmlEscape="false" maxlength="20"/>
					</div>
					<label for="sccj" class="col-sm-2 control-label">生产厂家</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="sccj" name="sccj" v-model="xhd.sccj" placeholder="生产厂家" 
							htmlEscape="false" maxlength="32"/>
					</div>
				</div>
				<div class="form-group">
					<label for="zyfzr" class="col-sm-2 control-label">主要负责人</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="zyfzr" name="zyfzr" v-model="xhd.zyfzr" placeholder="主要负责人" 
							htmlEscape="false" maxlength="1"/>
					</div>
					<label for="sbxh" class="col-sm-2 control-label">设备型号</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="sbxh" name="sbxh" v-model="xhd.sbxh" placeholder="设备型号" 
							htmlEscape="false" maxlength="1"/>
					</div>
				</div>
				<div class="form-group">
					<label for="azfw" class="col-sm-2 control-label">安装方位</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="azfw" name="azfw" v-model="xhd.azfw" placeholder="安装方位" 
							htmlEscape="false" maxlength="20"/>
					</div>
					<label for="xhdzt" class="col-sm-2 control-label">信号灯状态</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="xhdzt" name="xhdzt" v-model="xhd.xhdzt" placeholder="信号灯状态" 
							htmlEscape="false" maxlength="20"/>
					</div>
				</div>
				<div class="form-group">
					<label for="ms" class="col-sm-2 control-label">描述</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="ms" name="ms" v-model="xhd.ms" placeholder="描述" 
							htmlEscape="false" maxlength="20"/>
					</div>
					<label for="bz" class="col-sm-2 control-label">备注</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="bz" name="bz" v-model="xhd.bz" placeholder="备注" 
							htmlEscape="false" maxlength="50"/>
					</div>
				</div>
				<div class="form-group">
					<label for="gjbh" class="col-sm-2 control-label">杆件编号</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="gjbh" name="gjbh" v-model="xhd.gjbh" placeholder="杆件编号" 
							htmlEscape="false" maxlength="20"/>
					</div>
					<label for="zb" class="col-sm-2 control-label">坐标</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="zb" name="zb" v-model="xhd.zb" placeholder="坐标" 
							htmlEscape="false" maxlength="50"/>
					</div>
				</div>
				<div class="form-group">
					<label for="jd" class="col-sm-2 control-label">角度</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="jd" name="jd" v-model="xhd.jd" placeholder="角度" 
							htmlEscape="false" maxlength="20"/>
					</div>
				</div>
				<div class="form-group">
				   	<div class="col-sm-11 col-sm-offset-1 ">
						<!-- <button type="submit" class="btn btn-primary btn-sm" @click="save">提交</button>
						&nbsp;&nbsp; -->
						<input type="button" class="btn btn-warning btn-sm" @click="reload" value="返回"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>