<div id="road-panel" class="panel panel-primary" style="width: 550px;">
	<div class="panel-heading">
		<h3 class="panel-title">道路
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-xs" onclick="TUtils.togglePanelBody()"><i id="LEFT_PANEL_UD" class="fa fa-chevron-up"></i></button> 
				<button type="button" class="btn btn-default btn-xs" @click="close"><i class="fa fa-close"></i></button>
			</div>
		</h3>
	</div>
	<div class="panel-body">
		<div id="queryDiv" v-show='showList'>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">编号</div>
					<div class="column col-sm-4">
						<input type="text" class="form-control" v-model="roadQ.bh" placeholder="" htmlEscape="false" />
					</div>
					<div class="col-sm-2 control-label">名称</div>
					<div class="column col-sm-4">
						<input type="text" class="form-control" v-model="roadQ.mc" placeholder="" htmlEscape="false" />
					</div>
				</div>
			</div>
			<div class="grid-btn" style="margin-bottom: 10px">
				<a class="btn btn-sm" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
				<a class="btn btn-sm" @click="reset"><i class="fa fa-eraser"></i>&nbsp;重置</a>
				<a class="btn btn-sm" @click="add" v-show="isZdAdmin"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a class="btn btn-sm" @click="edit" v-show="isZdAdmin"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
		<div id="detailDiv" v-show='!showList'>
			<form class="form-horizontal" id="detailForm" role="form">
				<div class="form-group">
					<label for="bh" class="col-sm-2 control-label">编号</label>
					<div class="col-sm-4 onelinedis">
					<span class="help-inline"><font color="red">*</font> </span>
						<input type="text" class="form-control oneline" id="bh" name="bh" v-model="road.bh" placeholder="编号" 
							htmlEscape="false" required="required" maxlength="255"/>
					</div>
					<label for="mc" class="col-sm-2 control-label">名称</label>
					<div class="col-sm-4 onlinedis">
					<span class="help-inline"><font color="red">*</font> </span>
						<input type="text" class="form-control oneline" id="mc" name="mc" v-model="road.mc" placeholder="名称" 
							htmlEscape="false" required="required" maxlength="255"/>
						
					</div>
				</div>
				<div class="form-group">
					<label for="lx" class="col-sm-2 control-label">类型</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="lx" name="lx" v-model="road.lx" placeholder="类型" 
							htmlEscape="false" maxlength="255"/>
					</div>
					<label for="fx" class="col-sm-2 control-label">方向</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="fx" name="fx" v-model="road.fx" placeholder="方向" 
							htmlEscape="false" maxlength="255"/>
					</div>
				</div>
				<div class="form-group">
					<label for="zxcds" class="col-sm-2 control-label">正向车道数</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="zxcds" name="zxcds" v-model="road.zxcds" placeholder="正向车道数" 
							htmlEscape="false" maxlength="255"/>
					</div>
					<label for="fxcds" class="col-sm-2 control-label">反向车道数</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="fxcds" name="fxcds" v-model="road.fxcds" placeholder="反向车道数" 
							htmlEscape="false" maxlength="255"/>
					</div>
				</div>
				<div class="form-group">
					<label for="lks" class="col-sm-2 control-label">路口数</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="lks" name="lks" v-model="road.lks" placeholder="路口数" 
							htmlEscape="false" maxlength="0"/>
					</div>
					<label for="kd" class="col-sm-2 control-label">宽度</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="kd" name="kd" v-model="road.kd" placeholder="宽度" 
							htmlEscape="false" maxlength="255"/>
					</div>
				</div>
				<div class="form-group">
					<label for="cd" class="col-sm-2 control-label">长度</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="cd" name="cd" v-model="road.cd" placeholder="长度" 
							htmlEscape="false" maxlength="255"/>
					</div>
					<label for="glbm" class="col-sm-2 control-label">公路编码</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="glbm" name="glbm" v-model="road.glbm" placeholder="公路编码" 
							htmlEscape="false" maxlength="255"/>
					</div>
				</div>
				<div class="form-group">
					<label for="zb" class="col-sm-2 control-label">坐标</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="zb" name="zb" v-model="road.zb" placeholder="坐标" 
							htmlEscape="false" maxlength="0"/>
					</div>
				</div>
				<div class="form-group">
				   	<div class="col-sm-11 col-sm-offset-1 ">
						<button type="submit" class="btn btn-primary btn-sm" @click="save" v-show="isZdAdmin">提交</button>
						&nbsp;&nbsp;
						<input type="button" class="btn btn-warning btn-sm" @click="reload" value="返回"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>